<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All Movies</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Movie Listings</h1>
        <p>Here are all the genres in our SQL database:</p>

        <h2>Movies Genres</h2>
        <ul>
            {% for genre in results %}
            <li> {{ genre.genre_name}}</li>
            {% endfor %}
        </ul>
        
        <hr>
        <a href="/">← Back to Home</a>
        
        <hr>
        <h2>Take a look at some other queries!</h2>
        <a href="/movies/all-movies">List of all movies ordered by most popular to least popular</a> <br> <br>
        <a href="/movies/select-genre">List of the top 25 most popular movies of the genre of your choosing</a>
    
    </div>


</body>
</html>
